@using AddOn.Optimizely.ContentAreaLayout.Extension;
@model DummyBlock
@{
    var blockMetadata = Html.BlockMetadata();
    var uniqueId = string.Format("dummyblock-{0}-{1}-{2}", blockMetadata.ContentLink.ID, blockMetadata.Index, blockMetadata.ParentMetadata.Index);
}
<div id="@uniqueId" @Html.Raw(blockMetadata.BlockMetadataDictionary().ToAttributes())>
    <strong>Dummy block</strong><br/>
    <label for="@(uniqueId + "-checkbox")" role="button">Toggle metadata</label>
    <input type="checkbox" id="@(uniqueId + "-checkbox")" hidden/>
    
    <table class="table-debug" style="" cellpadding="3">
        <tr><th>Block Type:</th><td>@blockMetadata.GetContentTypeName()</td></tr>
        <tr><th>Block Index:</th><td>@blockMetadata.Index</td></tr>
        <tr><th>Block Content ID</th><td>@blockMetadata.ContentLink.ID</td></tr>
        <tr><th>Block Content Guid</th><td>@blockMetadata.ContentGuid</td></tr>
        <tr><th>Layout Type:</th><td>@blockMetadata.ParentMetadata.GetContentTypeName()</td></tr>
        <tr><th>Layout Index</th><td>@blockMetadata.ParentMetadata.Index</td></tr>
        <tr><th>Layout Content ID</th><td>@blockMetadata.ParentMetadata.ContentLink.ID</td></tr>
        <tr><th>Layout Content Guid</th><td>@blockMetadata.ParentMetadata.ContentGuid</td></tr>
    </table>
</div>
<style>
#@uniqueId {
    background-color: #0dcaf0; 
    padding: 1rem; 
    margin: 1rem;
}
#@uniqueId label {
    cursor:pointer;
}
#@uniqueId table {
    font-size:0.8em;
    table-layout:fixed;
    width: 100%;
}

#@uniqueId table td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#@uniqueId input:not(:checked) + table {
    display:none;
}
</style>